$bg_color:#1e1e1e;
$font_color:#fafafa;

body{
  background-color:$bg_color;
  color: $font_color;
  text-align: center;
  font-family: sans-serif;
  -webkit-appearance: none;
}

.movie{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  animation: cssAnimation 3.6s forwards;
  -webkit-appearance: none;
}

video{
  animation: cssAnimation 3.6s forwards;
  -webkit-appearance: none;
}

@keyframes cssAnimation {
  0%{
    opacity:0;
    display:none;
    z-index:-1;
  }
  100%{
    opacity:1
  }
}

a {
  z-index: -1;
  -webkit-appearance: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  color: #f3f3f3;
  font-weight: 500;
  animation: cssAnimation 3.6s forwards;
}

.content{
  animation: contentScale 2.6s forwards;
  -webkit-appearance: none;
}

.message{
  width: 100%;
  height: 100%;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  -webkit-appearance: none;
}

.shutter{
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
  background-color:#f3f3f3;
  z-index:9999;
  animation: byeShutter 2.6s forwards;
  -webkit-appearance: none;
  
  &::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    bottom:0;
    margin:auto;
    background-color:#1e1e1e;
    width:0;
    height:1px;
    animation: shutterOpen 2.6s forwards;
    -webkit-appearance: none;
  }
}

@keyframes byeShutter{
  70%{
    opacity:1;
  }
  100%{
    opacity:0;
    display:none;
    z-index:-1;
  }
}

@keyframes shutterOpen{
  0%{
    width:0;
    height:1px;
  }
  50%{
    width:100%;
    height:1px;
  }
  90%{
    width:100%;
    height:100%;
  }
  100%{
    width:100%;
    height:100%;
  }
}

@keyframes contentScale{
  70%{
    transform:perspective(800px) scale(0.9) rotateX(15deg);
  }
  100%{
    transform:perspective(800px) scale(1) rotateX(0);
  }
}
